@import '../common';

:local(.buttonLink) {
  @include react-product-hunt-resetButton;
  @include react-product-hunt-resetLink;
  cursor: pointer;

  &:local(.buttonLink--black) {
    :local(.icon) {
      color: $color-primaryText;
    }

    :local(.title) {
      color: $color-primaryText;
    }
  }

  &:local(.buttonLink--gray) {
    :local(.icon) {
      color: $color-grayText;
    }

    :local(.title) {
      color: $color-grayText;
    }
  }

  &:local(.buttonLink--link) {
    :local(.title) {
      text-transform: uppercase;
    }

    &:hover {
      :local(.title) {
        text-decoration: underline;
      }
    }
  }

  &:local(.buttonLink--outline) {
    :local(.content) {
      background-color: white;
      border: 1px solid $color-border;
      border-radius: 3px;
      padding: 0 8px;
    }

    &:hover {
      :local(.content) {
        border-color: scale-color($color-border, $lightness: -15%);
      }
    }
  }

  &:local(.buttonLink--solid) {
    :local(.content) {
      background-color: $color-border;
      border-radius: 3px;
      padding: 0 8px;
    }

    :local(.title) {
      text-transform: uppercase;
    }

    &:hover {
      :local(.content) {
        background-color: scale-color($color-border, $lightness: -15%);
      }
    }
  }

  &:local(.buttonLink--text) {
    :local(.title) {
      font-weight: bold;
      text-transform: uppercase;
    }

    &:hover {
      :local(.icon) {
        color: $color-red;
      }

      :local(.title) {
        color: $color-red;
      }
    }
  }
}

:local(.content) {
  align-items: center;
  display: flex;
  font-size: 12px;
  height: 24px;
}

:local(.icon) {
  &:local(.icon--title) {
    margin-right: 5px;
  }
}