@import '../common';

:local(.header) {
  box-shadow: 0 1px 0 0 rgba(black, 0.05), 0 2px 4px 0 rgba(black, 0.06);
  z-index: $zIndex-navHeader;
}

:local(.headerContent) {
  display: flex;
  align-items: center;
  height: 50px;
  justify-content: space-between;
  padding: 0 15px;
}

:local(.logoImage) {
  display: block;
  height: 34px;
  width: 34px;
}

:local(.logoLink) {
  @include product-hunt-resetLink;
  flex-shrink: 0;
}
