@import '../common';

:local(.header) {
  border-bottom: 1px solid $color-border;
  color: $color-primaryText;
  flex-shrink: 0;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 10px 0;
  text-transform: uppercase;
}

:local(.link) {
  @include product-hunt-resetLink;
  border-radius: 3px;
  color: $color-grayText;
  cursor: pointer;
  font-size: 14px;
  margin-left: -5px;
  padding: 3px 5px;

  &:hover {
    background-color: $color-border;
    color: $color-primaryText;
  }

  &:local(.link--active) {
    background-color: $color-border;
    color: $color-primaryText;
  }
}

:local(.links) {
  align-items: flex-start;
  flex-shrink: 0;
}

:local(.section) {
  display: flex;
  flex-direction: column;
}