@import '../common';

:local(.closeIcon) {
  font-size: 16px;
}

:local(.closeContainer) {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  width: 32px;
}

:local(.container) {
  display: flex;
  flex-direction: column;
}

:local(.input) {
  @include product-hunt-resetInput;
  border: 1px solid $color-border;
  border-radius: 3px;
  color: $color-grayText;
  flex-shrink: 0;
  font-size: 14px;
  height: 32px;
  padding: 0 32px;
  width: 300px;

  &::placeholder {
    color: $color-grayText;
  }
}

:local(.searchContainer) {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 32px;
}

:local(.searchIcon) {
  color: $color-grayText;
  font-size: 16px;
}
